<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @bibliografium.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @bibliografium.descricao %>
</p>
<<<<<<< HEAD
<%= link_to 'Back', projeto_path(@bibliografium.projeto) %>
=======

<%= link_to 'Edit', edit_projeto_bibliografium_path(@bibliografium) %> |
<%= link_to 'Back', projeto_bibliografium_path %>
>>>>>>> Criando e editando arquivos ao adicionar associacoes
